# Ignore annotation data directory
SKS_Annotation/

# Ignore allowed documents JSON
data2.json
5_receipts.zip

# Ignore Python bytecode and caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv/
venv/
env/
ENV/

model_outputs/
sks_50/
extraction/
invoices_img_2/
images/
annotations/
