# Ignore annotation data directory
SKS_Annotation/

# Ignore allowed documents JSON
data2.json
data3.json
data4.json

# Ignore Python bytecode and caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv/
venv/
env/
ENV/

model_outputs/
sks_50/